body {
  background: 
    linear-gradient(135deg, #6ab39f 25%, transparent 25%) -2rem 0,
    linear-gradient(225deg, #6ab39f 25%, transparent 25%) -2rem 0,
    linear-gradient(315deg, #6ab39f 25%, transparent 25%),
    linear-gradient(45deg, #6ab39f 25%, transparent 25%);
  background-size: 4rem 4rem;
  background-color: #f7f7f7;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.4em;
  text-align: center;
  color: #46868e;
  letter-spacing: 0.0185em;
  font-weight: 200;
  display: flex;
  justify-content: center;  
  padding: 5rem;
}

* {
  box-sizing: border-box;
}

.wrapper {
  background: #fafbe9;
  padding: 2rem;
  box-shadow:
    0 0 0 .8rem #6ab39f,
    0 0 0 1.1rem #fbd530;
  flex: 0 1 720px;
}

.flex {
  display: flex;
  position: relative;
}

.hero {
  flex: 0 0 45%;
}

.hero-img {
  width: 100%;
}

.box-right {
  flex: 0 0 55%;
}

.convite {
  margin-top: 4rem;
}

.title {
  display: block;
  margin: 1rem 0;
  font-size: 2.6em;
  color: #46868e;
  font-weight: 200;
}

.data {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.dia, .hora {
  flex: 1 0 100%;
}

.big {
  font-size: 2.2em;
  font-weight: 400;
}

.nav {
  font-size: 1em;
  margin-top: 2rem;
  flex: 1 0 100%;
}

.actions {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

li {
  flex: 0 0 auto;
  margin: 0 .6em;
}

.action {
  color: #f7f7f7;
  text-decoration: none;
  display: block;
  padding: .4em .6em;
  background: #6ab39f;
}

.action:hover {
  box-shadow: inset 0 0px 0 2rem rgba(0, 0, 0, 0.1);
}

.owl {
  width: 80px;
  position: absolute;
  right: 0;
  top: 0;
}

.giraffe {
  width: 120px;
  position: absolute;
  right: 0;
  bottom: 0;
}

@media screen and (max-width: 800px) {
  .owl, .giraffe {
    display: none;
  }
}

@media screen and (max-width: 620px) {
  body {
    font-size: 1em;
  }

  .hero {
    flex: 1 0 100%;
  }

  .box-right {
    flex: 1 0 100%;
  }

  .flex {
    flex-direction: column;
  }

  .wrapper {
    padding: 1rem;
  }

  .data {
    margin-bottom: 1.4rem;
  }

  .endereco {
    font-size: .9em;
  }

  .title {
    font-size: 2.2em;
  }
}
